  <div class="container">
    <div class="jumbotron">
      <h1>Like Minded Forum</h1>
      <p>See Below for all the messages about {{topic}}</p>
    </div>
    <div class="col-xs-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Posts</h3>
        </div>

      <div class="panel-body">
                                                      {{#each post}}

        <ul class="messages_list">
            <div class="panel panel-default">
              <div class="panel-heading">

                <h3 class="panel-title"><font color="#0F0F16">Author: {{author}}</h3></font>

              </div>
               <div class="panel-body">
                  <p>Message: {{thread_message}}</p>
                </div>

          </div>
                                                          {{/each}}

          {{!-- CREATE NEW THREAD  SECTION--}}
          <div>
            <p>New Thread Form</p>

            <form action="/post" method="POST">
              {{!-- req.body.topic name defines the property --}}
              <p>Title:</p>
              <input type="text" name="thread_title" class="thread-title" value="{{thread_title}}" readonly>
              <p>Topic:</p>
              <input type="text" name="topic" class="thread-topic" value="{{topic}}" style="color:black" readonly>
              <p>Author: </p>
              <input type="text" name="author" class="thread-author">
              <p>Message: </p>
              <textarea name="thread_message" class="thread-message"></textarea>
              <button type="submit" class="add-new-thread">Submit</button>
            </form>

            </div>

               </div>
          </div>
      </div> 
</div>
  <script type="text/javascript" src="/assets/js/posts.js"></script>
